:root {
  --primary: #1e6eb2;
  --primary-1: #00a0e9;
  --primary-2: #5ec4ff;
  --color: #606060;
  --color-1: #262626;
  --color-2: #777;
  --color-3: #4b4b4b;
  --color-4: #181818;
  --color-5: #242424;
  --color-6: #021734;
}
