:root {
  --primary: #01a0e9;
  --primary-1: #01a0e9;
  --primary-2: #5ec4ff;
  --color: #606060;
  --color-1: #262626;
  --color-2: #777;
  --color-3: #4b4b4b;
  --color-4: #181818;
  --color-5: #242424;
  --color-6: #021734;

  --h-480: 480px;
}

.h-480 {
  height: var(--h-480);
}

.bg-primary {
  background-color: var(--primary);
}
.hover-bg-primary {
  &:hover {
    background-color: var(--primary);
  }
}

.text-primary {
  color: var(--primary);
}

.hover-text-primary {
  &:hover {
    color: var(--primary);
  }
}

.border-primary {
  border-color: var(--primary);
}

.hover-border-primary {
  &:hover {
    border-color: var(--primary);
  }
}

.nuxt-link-exact-active {
  color: var(--primary);
}

html {
  &:has(dialog[open][modal-mode="mega"]) {
    overflow: hidden;
  }
}

.z-1 {
  z-index: 1;
}
